node_modules/
dist/
.angular/
.vscode/
.idea/
tmp/
temp/
*.log
*.tmp

/.env

# Angular environment files
projects/demo/src/environments/environment.ts
!projects/demo/src/environments/environment.example.ts
